/* reset */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* header, background e dimensioni */
header{
    background-color: whitesmoke;
    height: 70px;
    
}

/* background body */
body{
    background-color:rgb(228, 228, 228);
}

/* Titolo Toboolist */
h1{
    display: inline-block;
    margin-left: 5px;
    font-size: 42px;
    vertical-align: middle;
}

img{
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

/* prima parte del main, container */
.container1{
    background-color: white;
    width: 80%;
    max-width: 1100px;
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1px;
    padding: 10px 25px;
    border-radius: 5px 5px 0px 0px;
}

/* bottone Add Task */
.task-button{
    background-color: rgb(10, 202, 241);
    color: white;
    border-radius: 5px;
    padding: 3px 6px;
    margin: 0px 10px;
}

/* bottone Add Section */
.section-button{
    border: 1px solid gray;
    color: gray;
    border-radius: 5px;
    padding: 3px 6px;
    margin: 0px 10px;
}

/* seconda parte del main */
.container2{
    background-color: white;
    width: 80%;
    max-width: 1100px;
    margin-top: 1px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 0px 0px 5px 5px;
}

/* togliere i puntini alla lista */
ul{
    list-style: none;
}

/* margine per lista padre */
.big{
    margin-bottom: 25px;
}

/* margine e font di lista figlia  */
.lil{
    margin: 9px 35px;
    font-size: 9px;
}

/* classe editorial */
.edi{
    display: inline-block;
    color: white;
    background-color: rgb(18, 148, 209);
    border-radius: 6px;
    padding: 2px 4px;
    
}

/* classe q1 goals */
.q1{
    display: inline-block;
    color: white;
    background-color: rgba(123, 26, 193, 0.992);
    border-radius: 6px;
    padding: 2px 4px;
}

/* classe recruitig */
.recruiting{
    display: inline-block;
    color: white;
    background-color: rgb(12, 151, 135);
    border-radius: 6px;
    padding: 2px 4px;
}

/* classe mobile */
.mobile{
    display: inline-block;
    color: white;
    background-color: orange;
    border-radius: 6px;
    padding: 2px 4px;
}

/* classe website */
.website{
    display: inline-block;
    color: white;
    background-color: rgb(250, 47, 172);
    border-radius: 6px;
    padding: 2px 4px;
}

/* classe sales */
.sales{
    display: inline-block;
    color: white;
    background-color: rgb(139, 170, 59);
    border-radius: 6px;
    padding: 2px 4px;
}

/* cerchiolino x spunta verde */
.ok{
    display: inline-block;
    color: green;
    font-weight: 600;
    height: 12px;
    width: 12px;
    border: 1.5px solid green;
    border-radius: 50%;
    text-align: center;
    line-height: 9px ; 
}

/* cerchiolino x croce rossa */
.not-ok{
    display: inline-block;
    color: red;
    font-weight: 600;
    height: 12px;
    width: 12px;
    border: 1.5px solid red;
    border-radius: 50%;
    text-align: center;
    line-height: 9px ;
}